body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #434455;
}
/*==Header==*/
.menu,
.menu-adress {
  list-style-type: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
}
.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  text-decoration: none;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-adress-header {
  font-style: normal;
}
.menu-adress-item {
}

.menu-adress-link {
  list-style-type: none;
}
.menu-adress-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.menu-adress-description:hover,
.menu-adress-description:focus {
  color: #404bbf;
}
/* === Hero == */
.hero {
  background: #2e2f42;
}
.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
/* === Button == */
.btn-order {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
}
.btn-order:hover,
.btn-order:focus {
  background: #404bbf;
  color: #fff;
}

/*==Feature==*/
.feature-section {
  background: #fff;
}
.feature-main-header {
}
.feature-item {
  list-style-type: none;
}
.feature-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*color: #434455;*/
}
/*==Ourteam==*/
.light-bg {
  background-color: #f4f4fd;
}
.team-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.team-item {
  list-style-type: none;
}
.team-item-list {
  background-color: #fff;
}
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-decription {
  /*color: #434455;*/

  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*====Our Portfolio===*/
.portfolio {
  background: #fff;
}
.portfolio-header {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.portfolio-item {
  list-style-type: none;
}
.portfolio-item-list {
  background: #fff;
}
.portfolio-card {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*color: #434455;*/
}
.page-footer {
  background: #2e2f42;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
